body {
	margin: 37px 0;
	color: #fc2431;
	font-family: "Open Sans", Helvetica, sans-serif;
	background: url(images/bg.png) #fff;
}
a {
	color: #fc2431;
}
h2 {
	font-size: 1.25em; /* 20px / 16px */
	font-weight: 300;
}
img {
	max-width: 100%;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#page {
	width: 67.16666666666%;
	margin: 0 auto;
	padding: 4.0%;
	background: #fff;
	-webkit-box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.5);
}

#logo {
	margin: 0;
	padding: 0;
	line-height: 1;
	background: url(images/mute-screamer.png) 0 0 no-repeat;
	width: 562px;
	height: 57px;
}

@media screen and (max-width: 768px) {
	#logo {
		max-width: 562px;
		width: 100%;
		height: 1.78125em;
		background-size: 100%;
	}
}

@media screen and (max-width: 480px) {
	body {
		margin: 0;
	}
	h2 {
		font-size: 1.1em;
	}
	#page {
		margin: 0;
		width: auto;
	}
	#logo {
		height: 44px;
	}
}

@media screen and (max-width: 320px) {
	#logo {
		height: 32px;
	}
}
