body {
	margin: 37px 0;
	color: #fc2431;
	font-family: "Open Sans", Helvetica, sans-serif;
	background: url(images/bg.png) #fff;
}
a {
	color: #fc2431;
}
h2 {
	font-size: 1.25em; /* 20px / 16px */
	font-weight: 300;
}
img {
	max-width: 100%;
}

.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

#page {
	/*position: relative;*/
	overflow: auto;
	width: 67.16666666666%;
	margin: 0 auto;
	padding: 4.0%;
	background: #fff;
	-webkit-box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 3px 12px rgba(50, 50, 50, 0.5);
}

#logo {
	margin: 0;
	padding: 0;
	line-height: 1;
	background: url(images/mute-screamer.png) 0 0 no-repeat;
	width: 562px;
	height: 57px;
}

#megaphone {
	margin-top: -2em;
	width: 47.916666666667%;
	float: right;
}

.button {
	background: #fc2431;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	padding: .35em 1.5em .35em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
	background: #fc4431;
}
.button:active {
	position: relative;
	top: 1px;
}
.gradient {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #fc2431;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.gradient:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.gradient:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

@media screen and (max-width: 768px) {
	#logo {
		max-width: 562px;
		width: 100%;
		height: 1.78125em;
		background-size: 100%;
	}
}

@media screen and (max-width: 480px) {
	body {
		margin: 0;
	}
	h2 {
		font-size: 1.1em;
	}
	#page {
		margin: 0;
		width: auto;
	}
	#logo {
		height: 44px;
	}
	#megaphone {
		display: none;
	}
	.button {
		display: block;
	}
}

@media screen and (max-width: 320px) {
	#logo {
		height: 32px;
	}
}
